* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: lightseagreen;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	padding: 1rem;
	text-align: center;
}

h1 {
	margin: 0;
	font-family: monospace;
	color: indigo;
	text-shadow: gray 1px 1px;
}

h2 {
	margin: 0;
	font-family: monospace;
	margin-bottom: 1rem;
	color: lightgray;
	text-shadow: indigo 1px 1px;
}

main {
	background-color: tomato;
	color: lightgray;
	padding: 1rem;
	margin: 1rem;
	border: .5rem solid indigo;
	max-width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section {
	background-color: crimson;
	padding: 1rem;
	margin: 1rem;
	border: .25rem solid indigo;
}

input{
	font-family: monospace;
	text-align: center;
}

button {
	font-family: monospace;
	border: 2px solid indigo;
	background-color: lightgray;
}

footer {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.none {
	display: none;
}